/* clerk ui css */
.cl-internal-1hp5nqm{
    display: none !important;
}
.cl-internal-1dauvpw{
    display: none !important;
}
.cl-internal-df7v37{
display: none !important;
}
.cl-internal-13u79ez{
    background: none !important;
}

